# Python files
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Environment files
.env
.envrc

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python build / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python environments
.venv
venv/
env/
ENV/

# Testing / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Django
db.sqlite3
db.sqlite3-journal

# Flask
instance/

# Documentation
docs/_build/

# Python tools
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Misc
.DS_Store